.container {
    display: flex;
    background-color: white;
    
  }
  
  .image {
    flex: 1;
    
  }
  
  .image img {
    margin-top:10px;
    width: 700px;
    height:530px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    margin-top: 80px;
    margin-left: 135px;
  }
  
  h2 {
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
 
  

