<div class="container">
  <div class="right">
    <img src="https://eidikosystems.keka.com/files/b5a6ae4c-7aa9-49ea-897f-72bcbd443efa/loginbackgroundimage/b6428543287b4b6496691f047a6ec92b.jpg" alt="Image">
  </div>
  <div class="left">
    <div class="content">
      <h2>Reset Password</h2>
  
      <form #passwordForm="ngForm" (ngSubmit)="onSubmit()">
        <input class="mail" type="email" name="email" placeholder="Email" required [(ngModel)]="email" value="email" readonly><br>
        <input type="password" name="newPassword" placeholder="New Password" required minlength="6" [(ngModel)]="password"><br>
        <div *ngIf="passwordForm.controls['newPassword']?.touched">
          
          <p *ngIf="passwordForm.controls['newPassword']?.errors?.['required']" class="size">
            Password is required.
          </p>
          <p *ngIf="passwordForm.controls['newPassword']?.errors?.['minlength']" class="size">
  
  
            Password must be at least 6 characters long.
          </p>
        </div>
  
  
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required minlength="6" [(ngModel)]="confirmPassword"><br>
        <div *ngIf="passwordForm.controls['confirmPassword']?.touched">
          <p class="size" *ngIf="passwordForm.controls['confirmPassword']?.errors?.['required']">
            Confirm password is required.
          </p>
          <p class="size" *ngIf="passwordForm.controls['confirmPassword']?.errors?.['minlength']">
            Confirm password must be at least 6 characters long.
          </p>
          <p class="size" *ngIf="password !== confirmPassword">
  
      
            Passwords do not match.
          </p>
        </div>
  
  
        <button [disabled]="passwordForm.invalid" >Reset Password</button>
  
      
      </form>
    </div>
  </div>
</div>
