.container{
    display:flex;
    flex-direction: row;
}
.right{
    width:70%;
}
.left{
    width:30%;
    padding:5%;
}
.right img{
    width:100%;
    height:100%;
}
.left-container{
    margin-top: 20%;
}
.left .left-container .form-data{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.form-data input{
    padding: 11.5px 15px 15px 15px;
    border: 1px solid #ccc;
    border-radius: 3%;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    outline: none;
}
button{
    height: 45px;
    width:70%;
    background-color: #2986ce;
    border:none;
    font-size: 16px;
    color:white;
    margin-bottom: 2px;
}
.form-data input:focus{
    border: 2px solid #ccc;
}
.form-row{
    margin-bottom: 24px;
}
small{
    display: block;
    color: red;
}
a{
    color:#6ea8d4
}
a:hover{
    background-color: #e6e0e0;
}
button:hover{
    background-color: #198be2;
}