<div class="sidenav">
    <div class="sidelist">

    
    <ul>
        <li routerLinkActive="active" >
            <div class="icon-text"  routerLink="/home">
                <span><i class="fa-solid fa-house"></i></span>
                <a>Home</a>
            </div>
            </li>
        <li routerLinkActive="active">
            <div class="icon-text"  routerLink="/me">
                <span><i class="fa-solid fa-user"></i></span>
                <a >Me</a>
            </div>
        </li >
        <li routerLinkActive="active">
            <div class="icon-text" routerLink="/inbox">
                <span><i class="fa-solid fa-inbox"></i></span>
                <a >Inbox</a>
            </div>
        </li>
        <li routerLinkActive="active">
            <div class="icon-text" routerLink="/myteam">
                <span><i class="fa-solid fa-people-group"></i></span>
                <a >My Team</a>
            </div>
        </li>
        <li routerLinkActive="active">
            <div class="icon-text" routerLink="/myfinance">
                <span><i class="fa-solid fa-comment-dollar"></i></span>
                <a>My Finances</a>
            </div>
        </li>
        <li routerLinkActive="active">
            <div class="icon-text" routerLink="/org">
                <span><i class="fa-solid fa-sitemap"></i></span>
                <a >Org</a>
            </div>
        </li>
    </ul>
</div>
    <!-- <router-outlet></router-outlet> -->
</div>
