.container {
    overflow-y: auto;
    height: 100%;
    margin: 25px;
}

.display-items {
    position: relative;
}

.heading {
    margin-top: 15px;
}

.dropdown {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 9%;
    width: 160px;
    height: 40px;
    background-color: #333d4e;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;
}

.card1 {
    flex: 1;
    min-width: 250px;
    max-width: 880px;
    height: auto;
    background-color: #333d4e;
    margin-bottom: 20px
}
.pending-table th{
   
    padding-left: 20px;
}
.pending-table td{
padding-left: 20px;
text-align: center;
}
.card2 {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    height: 150px;
    background-color: #333d4e;
}

.leave-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;

}

.info-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 10px
}

.card3,
.card4 {
    flex: 1;
    background-color: #333d4e;
    min-width: 230px;
    max-width: 340px;
    height: 160px;
    margin-bottom: 20px;
}

mat-paginator {
    margin-right: 120px;
}

.card5 {
    flex: 1;
    background-color: #333d4e;
    min-width: 250px;
    max-width: 480px;
    height: 160px;
}

.barchart1 {
    padding: 0px 54px;
    margin-Top: 30px;
}

.donut1 {
    margin-left: 60px;
}

.compoffs span {
    margin-left: 60px;
    color: deepskyblue
}

.compoffs {
    margin-left: 55px;
}

.compoffs1 {
    margin-left: 59px;
}

.compoffs1 span {
    margin-left: 40px;
    color: deepskyblue;
}

.table-card {
    width: calc(100%-20px);
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1200px;
    height: 120px;
     background-color: #333d4e;
}

.table-content {
    background-color: #333d4e;
    width: 1200px;
    height: auto;
}

.tdata {
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    height: 100%;
    background-color: #333d4e;
}

.tdata td,
.tdata th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    font-size: 10px;
}

.tdata th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.tdata td {
    background-color: #333d4e;
}

mat-paginator{
    background-color: #333d4e;
}
.available,
.consumed,
.line {
    margin-top: -126px;
}

.line-break,
.annual-quota {
    margin-top: -43px;

}

.compoff-leaves {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.line {
    width: 1px;
    height: 45px;
    background-color: grey;
    left: 150px;
    position: absolute
}

.balance-line {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 35px 0px;
    background-color: aquamarine;
    margin-bottom: 90px;



}

.consumed {
    margin-left: 90px;

}


.barchart2 {
    padding: 0px 48px;
    margin-Top: 25px;
}


.leave-balance {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;
}
.card6,
.card7,
.card8 {
    flex: 1;
    min-width: 250px;
    max-width: 387px;
    height: 320px;
    margin-bottom: 20px;
    background-color: #333d4e;
}

.elephantimg {
    width: 90px;
    height: 100px;
}
.leave-history mat-card{
    background-color: #333d4e;
    margin-right: 8.9%;
}
.leave-history-dropdown{    background-color: #333d4e;
display: flex;
margin-right: 8.9%;
border-radius: 5px;
border: 1px solid black;

}
.app-dropdowntable
{
height:280px;
flex-direction: column;
}

.image-content {
    display: flex;

}

.comp-off,
.leave-policy {
    margin-top: 12px;
    color: deepskyblue;

}

.image-content p {
    margin: 20px;
}

.balance-line1 {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 175px 0px;
    background-color: aquamarine;
    margin-bottom: 90px;
}

.typeofleave {
    width: 1200px;
    background-color: #333d4e;
    height: 70px;
}

.donut-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-top: 38px;

}


.donut-text {
    position: absolute;
    top: 68%;
    left: 77%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    font-size: 12px;
    pointer-events: none;

}

.donut-text1 {
    position: absolute;
    top: 65%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: blueviolet;
    font-size: 12px;
    pointer-events: none;
}
.consumed12
{
    margin-left:55px;
}
.donut-text2
{
    top:80%;
    margin-left:78%
}
.filter-buttons
{
    padding:10px;
}

::ng-deep div.mat-mdc-select-panel:not(--mat-select-panel-background-color){
background-color: #333d4e;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):not(--mdc-filled-text-field-container-color){
    background-color: #333d4e;
    border-bottom: none;
}
.search1 {
    width: 600px;
    height: 40px;
    margin-left: 20px;
    background-color: #333d4e;
    border: none;
}
.d
{
margin-left:-90px;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        margin-bottom: 20px
    }

    .leave-cards {
        flex-direction: column;
    }

    .card3,
    .card4,
    .card5 {
        min-width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px
    }

    .card6,
    .card7,
    .card8 {
        min-width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}