<div class="profile-container">
    <div class="child">
        <mat-card>
            <mat-card-content>
                <div class="headings">
                    <h3>Primary Details</h3>
                    <p>Edit</p>
                </div>  
                <div class="contact-details">
                    <div>
                        <span>FIRST NAME</span>
                        <p>Shreya</p>
                        <span>LAST NAME</span>
                        <p>Suddala</p>
                       
                        <span>GENDER</span>
                        <p>Female</p>
                        <span>MARITAL STATUS</span>
                        <p>single</p>
                        <span>PHYSICALLY HANDICAPPED</span>
                        <p>No</p>
                        <span>NATIONALITY</span>
                        <p>India</p>
                    </div>
                    <div>
                        <span>MIDDLE NAME</span>
                        <p>---</p>
                        <span>DISPLAY NAME</span>
                        <p>Shreya Suddala</p>
                        <span>DATE OF BIRTH</span>
                        <p>27 Dec, 2002</p>
                        <span>BLOOD GROUP</span>
                        <p>O+ (O positive)</p>
                    </div>
                </div>
              
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="headings">
                    <h3>Contact Details</h3>
                    <p>Edit</p>
                </div>
                <div class="contact-details">
                    <div>
                        <span>WORK EMAIL</span>
                        <p>shreya.suddala eidiko-india.com</p>
                        <span>MOBILE NUMBER</span>
                        <p>9390309464</p>
                        <span>RESIDENCE NUMBER</span>
                        <p>-Not set-</p>
                        <span>EMERGENCY NUMBER</span>
                        <p>-Not set-</p>             
                    </div>
                    <div>
                        <span>PERSONAL EMAIL</span>
                        <p>shreyasuddala27gmail.com</p>
                        <span>WORK NUMBER</span>
                        <p>-Not set-</p>
                        <span>SKYPE</span>
                        <p>-Not set-</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
   <div class="child">
    <mat-card>
        <mat-card-content>
            <div class="headings">
                <h3>Addresses</h3>
                <p>Edit</p>
            </div>
            <div class="contact-details">
                <div>
                    <span>CURRENT ADDRESS</span>
                </div>
                <div>
                    <span>PERMANENT ADDRESS</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="headings">
                <h3>Relations</h3>
                <p>Edit</p>
            </div>
            <div class="contact-details">
                <div>
                    <span>FATHER</span>
                    <p>xxxxxxxx</p>
                </div>
                <div>
                    <span>MOTHER</span>
                    <p>xxxxxx</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
   </div>
   <div class="child">
    <mat-card>
        <mat-card-content>
            <div class="headings">
                <h3>Experience</h3>
                <p>Edit</p>
            </div>
            <div class="contact-details">
                <div>
                    <p>No data available</p>
                    
                </div>
                <div>
                    
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="headings">
                <h3>Education</h3>
                <p>Edit</p>
            </div>
            <div class="contact-details">
                <div>
                    <p>No data available</p>
                    
                </div>
                <div>
                    
                </div>
            </div>
        </mat-card-content>
    </mat-card>
   </div>
   <div class="child">
    <mat-card>
        <mat-card-content>
            <div class="headings">
                <h3>Identity Information</h3>
               
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="headings">
                <h3>Professional Summary</h3>
                <p>Edit</p>
            </div>
            <div class="contact-details">
                <div>
                    <span>PROFESSIONAL SUMMARY</span>
                    <p>-Not set-</p>
                    
                </div>
                <div>
                    
                </div>
            </div>
        </mat-card-content>
    </mat-card>
   </div>
</div>
