<div class="inbox">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="TAKE ACTION">
      <div class="image-container">
        <img
          class="w-100"
          src="https://cdn.kekastatic.net/shared/assets/images/background/no-requests-light.png"
          alt="No Requests"
        />
        <p class="centered-message">No Pending Requests</p>
      </div>
    </mat-tab>
    <mat-tab label="NOTIFICATIONS">
      <h2>Notificatons</h2>
      <p>Showcases all your notifications from Wall, Praises and Feedbacks</p><br>
      <img height="300" width="400" src="https://cdn.kekastatic.net/shared/assets/images/background/empty-inbox-notifications-light.svg">
    </mat-tab>
    <mat-tab label="ARCHIEVE">Archieve Last - 3 months</mat-tab>
  </mat-tab-group>

  
</div>
