<div class="dashboard-container">
  <div class="quick-access">
    <h3>Quick Access</h3>
    <div class="card-row">
      <mat-card class="card-item">
        <mat-card-content>
          <span>Inbox</span>
          <div class="inbox-container">
            <div class="inbox">
              <img src="../../assets/email.jpg" alt="not found" />
            </div>
            <div>
              <p *ngIf="pendingLeaves.length === 0">Good job!</p>
              <p *ngIf="pendingLeaves.length === 0">
                You have no pending actions
              </p>
              <div *ngIf="pendingLeaves.length" class="inbox-data">
                <p>You have {{pendingLeaves.length}} pending requests</p>
                <p>Please check in Inbox </p> 
                <p style="padding-left: 50px;">Thank you !!</p>
              </div>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item" [ngStyle]="{'background-image': 'url(' + base64Image + ')'}">
        <div class="card-item-header">
          <span>Holidays</span>
          <div (click)="openHoliday()">
            <a style="background-color:transparent; cursor: pointer;">view all</a>
          </div>
        </div>
        <mat-card-content>

          <div class="card-content">
            <div class="card-navigation">
              <div>
                <button mat-icon-button (click)="previousHoliday()">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
              <div>
                <button mat-icon-button (click)="nextHoliday()">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>
            <div class="card-info">
              <p class="card-info">{{ holiday.description }} &nbsp; &nbsp;
                {{ holiday.dateOfHoliday | date:'EEE, dd MMMM, yyyy' }} </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-item" style="height:auto">
        <span>On Leave Today</span>
        <mat-card-content>
          <div class="today-birthdays">
            <div *ngFor="let onLeave of onLeaveToday" class="today-birthdays-items">
              <div class="birthdays-profile">
                <img src="../../assets/elephant.png">
              </div>
              <div class="birthdays-names">
                <span>{{onLeave.requestedBy}}</span>
              </div>
            </div>
            <div style="display: flex; justify-content: space-between;" *ngIf="onLeaveToday?.length===0">
              <img class="elephantimg" src="../../assets/elephant.png" alt="elephantimage" width="100px" height="100px">
              <p>Nothing here!<br />Working hard yeah?? <br />Request time off on right&gt;&gt;&gt;</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-item">
        <mat-card-content>
          Working Remotely
          <div class="members">
            <div *ngFor="let emp of workFromHomeList">
              <div class="member">
                <img src="../../assets/profileimage.png">
                <small>{{emp.employeeName}}</small>

              </div>
            </div>
          </div>
          <div style="display: flex; justify-content: space-between;" *ngIf="workFromHomeList?.length===0">
            <img class="elephantimg" src="../../assets/elephant.png" alt="elephantimage" width="100px" height="100px">
            <p>Nothing here!<br />Working hard yeah?? <br />Request time off on right&gt;&gt;&gt;</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item1">
        <mat-card-content>
          <span>Time Today - <span>{{currentDate | date}} </span></span>
          <app-clock></app-clock>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item2">
        <mat-card-content>
          <span>Leave Balances</span>
          <div class="charts">
            <div class="donut-container">
              <div class="donut-text">
                {{totalAvailableLeave}} Days Available</div>
              <app-donutchart [chartOptions]="chartOptions1">
              </app-donutchart>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="org-div">
    <div class="org-buttons">
      <button (click)="selectTab('organization')">Organization</button>
      <button (click)="selectTab('java')">Java</button>
    </div>
    <div class="org-cards">
      <mat-card class="org-card" *ngIf="selectedTab === 'organization'">
        <mat-card-content>
          <ul class="nav-list">
            <li>
              <a href="#" (click)="showContent($event, 'post')" [class.active]="selectedContent === 'post'">Post</a>

            </li>
            <li>
              <a href="#" (click)="showContent($event, 'announcement')"
                [class.active]="selectedContent === 'announcement'">Announcement</a>
            </li>
            <li>
              <a href="#" (click)="showContent($event, 'poll')" [class.active]="selectedContent === 'poll'">Poll</a>
            </li>
            <li>
              <a href="#" (click)="showContent($event, 'praise')"
                [class.active]="selectedContent === 'praise'">Praise</a>
            </li>
          </ul>
          <div class="org-content">

            <!-- Post request  field -->
            <div id="post" [class.active]="selectedContent === 'post'" class="org-content-item">
              <div class="form-container">
                <textarea class="textarea" #textarea (input)="onTextChange($event)"
                  placeholder="Write your post here and mention your peers"></textarea>

                <div *ngIf="base64Image">
                  <img [src]="base64Image" alt="Selected Image" width="90%" height="40%" />
                </div>
                <div class="image-container">
                  <div class="image-box" *ngFor="let img of base64Images; let i = index">
                    <img [src]="img" alt="Selected Image">
                    <button class="delete-btn" (click)="removeImage(i)">&#10005;</button>

                  </div>
                  <div *ngIf="base64Images.length > 0" class="plus-box" (click)="triggerFileInput(fileInput)">
                    <span>+</span>
                  </div>

                  <input type="file" #fileInput (change)="onFileSelected($event)" multiple style="display: none;">
                </div>


                <div class="actions">
                  <button mat-icon-button (click)="addAtSymbol(textarea)"><mat-icon>alternate_email</mat-icon></button>
                  <div class="search-dropdown" *ngIf="showDropdown" (click)="$event.stopPropagation()">
                    <div *ngFor="let result of searchData1" (click)="selectResult(result,textarea)">
                      {{result.firstName+" "+result.lastName|| "-No Result-"}}
                    </div>
                  </div>

                  <button mat-icon-button (click)="fileInput.click()"><mat-icon>image</mat-icon></button>
                  <input type="file" #fileInput multiple (change)="onFileSelected($event)" hidden>
                  <button mat-icon-button (click)="toggleEmoticonPicker()"><mat-icon>insert_emoticon</mat-icon></button>
                </div>
                <div class="emoticon-picker" *ngIf="showEmoticonPicker">
                  <div class="emoji-picker-header">
                    <button (click)="selectEmojiCategory('smileys')">😊</button>
                    <button (click)="selectEmojiCategory('animals')">🐻</button>
                    <button (click)="selectEmojiCategory('foods')">🍏</button>
                    <button (click)="selectEmojiCategory('activity')">🏀</button>
                    <button (click)="selectEmojiCategory('places')">🚗</button>
                    <button (click)="selectEmojiCategory('objects')">📑</button>
                    <button (click)="selectEmojiCategory('symbols')">🔣</button>
                    <button (click)="selectEmojiCategory('flags')">🏳️</button>
                  </div>

                  <div class="emoji-picker-content" [class.active]="selectedEmojiCategory === 'smileys'">
                    <emoji-mart set="apple" [include]="['people']"
                      (emojiClick)="addEmoticon(textarea, $event)"></emoji-mart>
                  </div>
                  <div class="emoji-picker-content" [class.active]="selectedEmojiCategory === 'animals'">
                    <emoji-mart set="apple" [include]="['nature']"
                      (emojiClick)="addEmoticon(textarea, $event)"></emoji-mart>
                  </div>
                  <div class="emoji-picker-content" [class.active]="selectedEmojiCategory === 'foods'">
                    <emoji-mart set="apple" [include]="['foods']"
                      (emojiClick)="addEmoticon(textarea, $event)"></emoji-mart>
                  </div>
                  <div class="emoji-picker-content" [class.active]="selectedEmojiCategory === 'activity'">
                    <emoji-mart set="apple" [include]="['activity']"
                      (emojiClick)="addEmoticon(textarea, $event)"></emoji-mart>
                  </div>
                  <div class="emoji-picker-content" [class.active]="selectedEmojiCategory === 'places'">
                    <emoji-mart set="apple" [include]="['places']"
                      (emojiClick)="addEmoticon(textarea, $event)"></emoji-mart>
                  </div>
                  <div class="emoji-picker-content" [class.active]="selectedEmojiCategory === 'objects'">
                    <emoji-mart set="apple" [include]="['objects']"
                      (emojiClick)="addEmoticon(textarea, $event)"></emoji-mart>
                  </div>
                  <div class="emoji-picker-content" [class.active]="selectedEmojiCategory === 'symbols'">
                    <emoji-mart set="apple" [include]="['symbols']"
                      (emojiClick)="addEmoticon(textarea, $event)"></emoji-mart>
                  </div>
                  <div class="emoji-picker-content" [class.active]="selectedEmojiCategory === 'flags'">
                    <emoji-mart set="apple" [include]="['flags']"
                      (emojiClick)="addEmoticon(textarea, $event)"></emoji-mart>
                  </div>

                  <!-- Add more divs for other categories as needed -->
                </div>
                <div class="post-footer">
                  <div class="post-footer-content">
                    <span>posting to</span>
                    <mat-select class="post-select" [(value)]="selectedOption">
                      <mat-option value="Organization"> Organization </mat-option>
                      <mat-option value="Java"> Java</mat-option>
                    </mat-select>
                  </div>
                  <div>
                    <button mat-raised-button color="primary" (click)="postRequest()">Post</button>
                  </div>
                </div>
              </div>

            </div>

            <!-- Announcement Request field  -->
            <div id="announcement" [class.active]="selectedContent === 'announcement'" class="org-content-item">
              <div class="announce-request-content">
                <input type="text" placeholder="title of announcement"><br />
                <textarea #textarea placeholder="Announcement details"></textarea>
              </div>
              <div class="announce-request">
                <mat-checkbox>Notify employees</mat-checkbox>
                <mat-checkbox>Requier Acknowledgement</mat-checkbox>
                <mat-checkbox>Hide After</mat-checkbox>
                <div class="announce-hide-date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <div style="margin-top: 10px;">
                    <input [(ngModel)]="hideDate" name="hideDate" [matDatepicker]="picker" required>
                  </div>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
              <div class="post-footer">
                <div class="post-footer-content">
                  <span>posting to</span>
                  <mat-select class="post-select" [(value)]="selectedOption">
                    <mat-option value="Organization"> Organization </mat-option>
                    <mat-option value="Java"> Java</mat-option>
                  </mat-select>

                </div>
                <div style="margin-right: -80px;">
                  <button mat-raised-button color="primary" (click)="postRequest()">Post</button>
                </div>
              </div>
            </div>

            <!-- Poll request field  -->
            <div id="poll" [class.active]="selectedContent === 'poll'" class="org-content-item">Poll related content
            </div>

            <!-- Praise request field -->
            <div id="praise" [class.active]="selectedContent === 'praise'" class="org-content-item">Praise related
              content</div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="org-card-short" *ngIf="selectedTab === 'organization'">
        <mat-card-content>
          <ul class="nav-list">
            <li>
              <a href="#" (click)="showContent($event, 'announcement')"
                [class.active]="selectedContent === 'announcement'">Announcements</a>
            </li>
            <li>
              <i class="fa-solid fa-cake-candles"></i>
              <a href="#" (click)="showContent($event, 'birthday')"
                [class.active]="selectedContent === 'birthday'">{{todayBirthdayCount}} Birthday</a>
            </li>
            <li>
              <i class="fa-solid fa-ribbon"></i>
              <a href="#" (click)="showContent($event, 'workAnniversary')"
                [class.active]="selectedContent === 'workAnniversary'">{{todayAnniversaryCount}} Work Anniversaries</a>
            </li>
            <li>
              <i class="fa-solid fa-user-group"></i>
              <a href="#" (click)="showContent($event, 'newJoinees')"
                [class.active]="selectedContent === 'newJoinees'">{{todayJoineesCount}} New Joinees</a>
            </li>
          </ul>
          <div class="content">
            <div id="announcement" [class.active]="selectedContent === 'announcement'" class="content-item">
              <div class="announcement-text">
                No Announcements today
              </div>
            </div>
            <!-- This is for birthdays and next seven days -->
            <div id="birthday" [class.active]="selectedContent === 'birthday'" class="content-item">

              <div class="todayBirthdays-nextSevenBirthdays">
                <div class="todayBirthdays-container">
                  <h4>Birthday's today</h4>
                  <div class="today-birthdays">
                    <div *ngIf="todayBirthdayCount === 0">
                      {{ noBirthdayMessage }}
                    </div>
                    <div *ngFor="let today of todayBirthday" class="today-birthdays-items">
                      <div class="birthdays-profile">
                        <img src="../../assets/elephant.png">
                      </div>
                      <div class="birthdays-names">
                        <span>{{today.firstName}} {{today.lastName}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nextSevenBirthdays-container">
                  <h6>Next 7 Days</h6>
                  <div class="nextSeven-birthdays">
                    <div *ngFor="let afterSeven of nextSevendaysBirthday" class="nextSeven-birthdays-items">
                      <div class="birthdays-profile">
                        <img src="../../assets/elephant.png">
                      </div>
                      <div class="nextSeven-bithdays">
                        <span>{{afterSeven.firstName}} {{afterSeven.lastName}}</span>
                        <br>

                        <span>{{ getBirthdayDisplayText(afterSeven.dateOfBirth) }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="workAnniversary" [class.active]="selectedContent === 'workAnniversary'" class="content-item">

              <div class="todayAnniversary-NextSevenAnniversary">
                <div class="todayAnniversary-container">
                  <h4>Work anniversaries today</h4>
                  <div class="today-Anniversary">
                    <div *ngFor="let t_Annivarsary of todayAnniversary" class="today-Anniversary-items">
                      <div class="Anniversary-profile">
                        <img src=".../../assets/elephant.png">
                      </div>
                      <div class="anniversary-names">
                        <span>{{t_Annivarsary.firstName}} {{t_Annivarsary.lastName}} </span>
                        <br>
                        <span>{{t_Annivarsary.noOfYearsCompletedInThisCompany}}{{'yrs'}}</span>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="nextSevenAnniversay-container">
                  <h6>Next 7 Days</h6>
                  <div class="nextSeven-Anniversary">
                    <div *ngFor="let nextSeven_Annivarsary of nextSevendaysAnniversarys; let i = index"
                      class="nextSeven-Anniversary-items">

                      <div *ngIf="(i<11)">

                        <div class="Anniversary-profile">
                          <img src="../../assets/elephant.png">
                        </div>
                        <div class="nextSeven-years">
                          <span>{{nextSeven_Annivarsary.firstName | truncate}} </span>
                          <br>
                          <span>{{nextSeven_Annivarsary.noOfYearsCompletedInThisCompany}}{{'yrs'}}</span>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="nextSevendaysAnniversarys.length>11" class="extra-Anniversary-items">
               {{nextSevendaysAnniversarys.length - 11}}+more
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="newJoinees" [class.active]="selectedContent === 'newJoinees'" class="content-item">
              <div class="new-joinees-section">
                <div class="todayNewJoinees-container">
                  <h2>New Joinees Today</h2>
                  <div *ngIf="todaysNewJoinees && todaysNewJoinees.length > 0; else noJoineesToday"
                    class="todayNewJoinees">
                    <div *ngFor="let joinee of todaysNewJoinees" class="todayNewJoinees-items">
                      <!-- Display joinee details -->
                      <div class="joinee-profile">
                        <img src="../../assets/profileimage.png" alt="No image" />
                      </div>
                      <div>
                        <p>{{joinee.firstName}} {{joinee.lastName}}</p>
                      </div>
                    </div>
                  </div>
                  <ng-template #noJoineesToday>
                    <img alt="Image Not found"
                      src="https://cdn.kekastatic.net/shared/assets/images/background/noone-work-anniversary.svg">
                    <P>No New Joinees Today</P>
                  </ng-template>
                </div>

                <div class="lastSevenDays-container">
                  <h2>Last 7 Days</h2>
                  <div *ngIf="lastSevenDaysNewJoinees && lastSevenDaysNewJoinees.length > 0; else noJoineesLast7Days"
                    class="lastSevenDaysJoiners">
                    <div *ngFor="let joinee of lastSevenDaysNewJoinees" class="lastSevenDaysJoiners-items">
                      <!-- Display joinee details -->
                      <div class="joinee-profile">
                        <img src="../../assets/profileimage.png" alt="Image not found" />
                      </div>
                      <div class="lastSevenNames">
                        <span>{{joinee.firstName}} {{joinee.lastName}}</span>
                        <br>
                        <span>{{ getBirthdayDisplayText(joinee.joinDate) }}</span>
                      </div>
                    </div>
                  </div>
                  <ng-template #noJoineesLast7Days>
                    <img alt="Image Not found"
                      src="https://cdn.kekastatic.net/shared/assets/images/background/noone-work-anniversary.svg">
                    <p>No Joinees For Last 7 Days</p>
                  </ng-template>
                </div>
              </div>

            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div *ngIf="selectedTab === 'organization'">
        <mat-card class="org-card" *ngFor="let image of imageSrcList; let i = index" style="margin-top:10px;">
          <mat-card-content>
            <div style="display:flex;">
              <img src="../../assets/profileimage.png"
                style="height: 55px; width: 60px; border-radius: 30px; margin-top: 10px; margin-bottom: 10px;">
              <div class="imageName">
                <span>{{image.postBy | capatlize}}</span>
                <span>{{image.timeStamp }}</span>
              </div>
            </div>


            <p>{{image.description}}</p>

            <p style="color:dodgerblue">{{image.mentionEmployee.join(', ')}}</p>
            <img [src]="image.base64Image" alt="Image from base64" style="margin-bottom:20px;max-width:600px">
            <div style="display: flex; gap: 30px;">
              <div class="hover-icons">
                <i class="fa-regular fa-thumbs-up" (click)="onEmojiClick(image.postId, 1)"></i>Like
                <div class="like-icons">
                  <p title="Like"><i class="fa-solid fa-thumbs-up" (click)="onEmojiClick(image.postId, 1)"></i></p>
                  <p title="Haha"><i class="fa-solid fa-face-laugh-beam" (click)="onEmojiClick(image.postId, 2)"></i>
                  </p>
                  <p title="Love"><i class="fa-solid fa-heart" (click)="onEmojiClick(image.postId, 3)"></i></p>
                  <p title="Claps"><i class="fa-solid fa-hands-clapping" (click)="onEmojiClick(image.postId, 4)"></i>
                  </p>
                  <p title="Insightful"><i class="fa-solid fa-lightbulb" (click)="onEmojiClick(image.postId, 5)"></i>
                  </p>
                  <p title="Curious"><i class="fa-brands fa-cloudversify" (click)="onEmojiClick(image.postId, 6)"></i>
                  </p>
                </div>
              </div>
              <p (click)="toggleCommentBox(i)" style="cursor: pointer;"><i class="fa-regular fa-message"></i>Comment</p>
              <p style="margin-left:200px;cursor: pointer;">{{image.emojiIdsCount}} reactions <span
                  style="font-size: 15px;margin-left:20px"><b>.</b></span></p>

              <p>{{image.commentIdsCount}} Comments</p>
            </div>
            <div *ngIf="showCommentBox[i]">
              <form #commentForm="ngForm" (ngSubmit)="postComment1(i, commentForm.value.comment, $event)">
                <textarea rows="3" cols="50" placeholder="Write a comment..." name="comment" ngModel
                  (keydown.enter)="postComment1(i, commentForm.value.comment, $event)">
                </textarea>
                <button type="submit" style="display:none;"></button>
              </form>
            </div>


          </mat-card-content>
        </mat-card>
      </div>

      <mat-card class="org-card" *ngIf="selectedTab === 'java'">
        <mat-card-content>Java related post</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>