<div class="dashboard-container">
  <div class="quick-access">
    <h3>Quick Access</h3>
    <div class="card-row">
      <mat-card class="card-item">
        <mat-card-content>
          <span>Inbox</span>
          <div class="inbox-container">
            <div class="inbox">
              <img src="../../assets/email.jpg" alt="not found" />
            </div>
            <div>
              <p>Good job!</p>
              <p>You have no pending actions</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item" [ngStyle]="{'background-image': 'url(' + base64Image + ')'}">
        <div class="card-item-header">
          <span>Holidays</span>
          <div (click)="openHoliday()">
            <a style="background-color:transparent; cursor: pointer;">view all</a>
          </div>
        </div>
        <mat-card-content>

          <div class="card-content">
            <div class="card-navigation">
              <div>
                <button mat-icon-button (click)="previousHoliday()">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
              <div>
                <button mat-icon-button (click)="nextHoliday()">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>
            <div class="card-info">
              <p class="card-info">{{ holiday.description }} &nbsp; &nbsp;
                {{ holiday.dateOfHoliday | date:'EEE, dd MMMM, yyyy' }} </p>
            </div>

          </div>
        </mat-card-content>
      </mat-card>


      <mat-card class="card-item">
        <mat-card-content>On Leave Today</mat-card-content>
      </mat-card>
      <mat-card class="card-item">
        <mat-card-content>
          Working Remotely
          <div class="members">
            <div *ngFor="let emp of workFromHomeList">
              <div class="member">
                <img src="../../assets/profileimage.png">
                <small>{{emp.employeeName}}</small>

              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item1">
        <mat-card-content>
          <span>Time Today - <span>{{currentDate | date}} </span></span>
          <app-clock></app-clock>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item2">
        <mat-card-content>
          <span>Leave Balances</span>
          <div class="charts">
            <div class="donut-container">
              <div class="donut-text">{{totalAvailableLeave}} Days Available</div>
              <app-donutchart [chartOptions]="chartOptions1">
              </app-donutchart>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="org-div">
    <div class="org-buttons">
      <button (click)="selectTab('organization')">Organization</button>
      <button (click)="selectTab('java')">Java</button>
    </div>
    <div class="org-cards">
      <mat-card class="org-card" *ngIf="selectedTab === 'organization'">
        <mat-card-content>
          <ul class="nav-list">
            <li>
              <a href="#" (click)="showContent($event, 'post')" [class.active]="selectedContent === 'post'">Post</a>
            </li>
            <li>
              <a href="#" (click)="showContent($event, 'announcement')"
                [class.active]="selectedContent === 'announcement'">Announcement</a>
            </li>
            <li>
              <a href="#" (click)="showContent($event, 'poll')" [class.active]="selectedContent === 'poll'">Poll</a>
            </li>
            <li>
              <a href="#" (click)="showContent($event, 'praise')"
                [class.active]="selectedContent === 'praise'">Praise</a>
            </li>
          </ul>
          <div class="org-content">
            <div id="post" [class.active]="selectedContent === 'post'" class="org-content-item">Content 1</div>
            <div id="announcement" [class.active]="selectedContent === 'announcement'" class="org-content-item">Hello
            </div>
            <div id="poll" [class.active]="selectedContent === 'poll'" class="org-content-item">Poll related content
            </div>
            <div id="praise" [class.active]="selectedContent === 'praise'" class="org-content-item">Praise related
              content</div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="org-card-short" *ngIf="selectedTab === 'organization'">
        <mat-card-content>
          <ul class="nav-list">
            <li>
              <a href="#" (click)="showContent($event, 'announcement')"
                [class.active]="selectedContent === 'announcement'">Announcements</a>
            </li>
            <li>
              <i class="fa-solid fa-cake-candles"></i>
              <a href="#" (click)="showContent($event, 'birthday')"
                [class.active]="selectedContent === 'birthday'">{{todayBirthdayCount}} Birthday</a>
            </li>
            <li>
              <i class="fa-solid fa-ribbon"></i>
              <a href="#" (click)="showContent($event, 'workAnniversary')"
                [class.active]="selectedContent === 'workAnniversary'">{{todayAnniversaryCount}} Work Anniversaries</a>
            </li>
            <li>
              <i class="fa-solid fa-user-group"></i>
              <a href="#" (click)="showContent($event, 'newJoinees')"
                [class.active]="selectedContent === 'newJoinees'">New Joinees</a>
            </li>
          </ul>
          <div class="content">
            <div id="announcement" [class.active]="selectedContent === 'announcement'" class="content-item">Announcement
              related data</div>
            <!-- This is for birthdays and next seven days -->
            <div id="birthday" [class.active]="selectedContent === 'birthday'" class="content-item">

              <div class="todayBirthdays-nextSevenBirthdays">
                <div class="todayBirthdays-container">
                  <h4>Birthday's today</h4>
                  <div class="today-birthdays">
                    <div *ngIf="todayBirthdayCount === 0">
                      {{ noBirthdayMessage }}
                    </div>
                    <div *ngFor="let today of todayBirthday" class="today-birthdays-items">
                      <div class="birthdays-profile">
                        <img src="../../assets/elephant.png">
                      </div>
                      <div class="birthdays-names">
                        <span>{{today.firstName}} {{today.lastName}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nextSevenBirthdays-container">
                  <h6>Next 7 Days</h6>
                  <div class="nextSeven-birthdays">
                    <div *ngFor="let afterSeven of nextSevendaysBirthday" class="nextSeven-birthdays-items">
                      <div class="birthdays-profile">
                        <img src="../../assets/elephant.png">
                      </div>
                      <div class="nextSeven-bithdays">
                        <span>{{afterSeven.firstName}} {{afterSeven.lastName}}</span>
                        <br>
                        <!-- <span>{{ getBirthdayDisplayText(afterSeven.birthday) }}</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="workAnniversary" [class.active]="selectedContent === 'workAnniversary'" class="content-item">

              <div class="todayAnniversary-NextSevenAnniversary">

                <div class="todayAnniversary-container">
                  <h4>Work anniversaries today</h4>
                  <div class="today-Anniversary">
                    <div *ngFor="let t_Annivarsary of todayAnniversary" class="today-Anniversary-items">
                      <div class="Anniversary-profile">
                        <img src=".../../assets/elephant.png">
                      </div>
                      <div class="anniversary-names">
                        <span>{{t_Annivarsary.firstName}} {{t_Annivarsary.lastName}} </span>
                        <br>
                          <span>{{t_Annivarsary.noOfYearsCompletedInThisCompany}}{{'yrs'}}</span>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="nextSevenAnniversay-container">
                  <h6>Next 7 Days</h6>
                  <div class="nextSeven-Anniversary">
                    <div *ngFor="let nextSeven_Annivarsary of nextSevendaysAnniversarys; let i = index"
                      class="nextSeven-Anniversary-items">
                      <div *ngIf = "(i<11)">
                        <div class="Anniversary-profile">
                          <img src="../../assets/elephant.png">
                        </div>
                        <div class="nextSeven-years">
                          <span>{{nextSeven_Annivarsary.firstName | truncate}} </span>
                          <br>
                          <span>{{nextSeven_Annivarsary.noOfYearsCompletedInThisCompany}}{{'yrs'}}</span>
                        </div>
                      </div>
                    </div>
                    <div *ngIf = "nextSevendaysAnniversarys.length>11" class="extra-Anniversary-items">
                      {{nextSevendaysAnniversarys.length - 11}}+more
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="newJoinees" [class.active]="selectedContent === 'newJoinees'" class="content-item">New Joinees
              related data</div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="org-card" *ngIf="selectedTab === 'organization'">
        <mat-card-content>All posts</mat-card-content>

      </mat-card>
      <mat-card class="org-card" *ngIf="selectedTab === 'java'">
        <mat-card-content>Java related post</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>