

 .dashboard-container {
  display: flex;
  gap: 20px;
  padding: 15px;
  height: 100%;
  overflow-y: scroll;
  
 
}
.card-item-header{
  display: flex;
  justify-content: space-between;
}
.card-item-header a{
 text-decoration: none;
 color: dodgerblue;
}
.card-navigation {

  color: #9275c9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
 
}

.card-info {
  color: #130330;
  text-align: center;
  margin-top:  30px;

}
.quick-access, .org-div {
  padding: 15px;
}

.quick-access {
  flex: 1;
}

.org-div {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.card-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-item, .card-item1, .card-item2 {
  background-color: #333d4e;
  border: 0.1px solid #525455;
  height: 25vh;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 412px  147px;
}

.card-item1 {
  background-color: #9275c9;
}

.card-item2 {
  flex: 0 0 auto;
}

.card-item2 .charts {
  display: flex;
  flex-direction: row;
  gap: 10px; 
}

.card-item2 .charts app-donutchart {
  width: 120px;
  height: 120px; 
}

mat-card {
  display: flex;
  flex-direction: column;
}
.card-content{
  width: 100%;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.card-item span {
  display: block;
  margin-bottom: 10px;
}

.inbox-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.inbox img {
  height: 50px;
  width: 50px;
}

.org-buttons {
  display: flex;
}

.org-buttons button {
  padding: 12px;
  background-color: #333d4e;
  border: 0.1px solid #525455;
  border-radius: 5%;
  cursor: pointer;
}
.org-buttons button:hover{
  border: 1px solid #9275c9;
  background-color: #3a3042;
}

.org-cards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.org-card, .org-card-short {
  background-color: #333d4e;
  border: 0.1px solid #525455;
  width: 50vw;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.org-card-short ul.nav-list,
.org-card ul.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 10px;
  border-bottom: 1px solid #A2A9B4;
}

.org-card-short ul.nav-list li,
.org-card ul.nav-list li {
  display: flex;
  align-items: center;
}

.org-card-short ul.nav-list li i {
  font-size: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #c29be8;
}

.org-card-short ul.nav-list li a,
.org-card ul.nav-list li a {
  text-decoration: none;
  padding: 10px;
  color: #A2A9B4;
  cursor: pointer;
}

.org-card-short ul.nav-list li a.active,
.org-card ul.nav-list li a.active {
  color: #FFFFFF;
  border-bottom: 2px solid #9275c9;
}

.org-card-short .content,
.org-card .org-content {
  margin-top: 20px;
}

.org-card-short .content .content-item,
.org-card .org-content .org-content-item {
  display: none;
}

.org-card-short .content .content-item.active,
.org-card .org-content .org-content-item.active {
  display: block;
}

.donut-container {
  position: relative;
  width: 100px; 
  height: 100px;
  margin-left: 150px;
  margin-top: -45px;
}
.donut-text {
  position: absolute;
  top: 68%;
  left: 72%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:white;
  font-size: 12px; 
  pointer-events: none;
 
}
.member{
  width: 50px;
  height: 50px;
}
.member img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.members{
  display: flex;
  flex-direction: row;
  gap:15px;
}
.member small{
  margin-left: 11px;
}



.birthday-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.birthday-item {
  text-align: left;
}

.profile-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  margin: auto; 
}

.profile-initials {
  font-weight: bold;
  font-size: 20px;
}

.profile-name {
  margin-top: 10px; 
}
  
.content-item {
  text-align: left;
}



.Anniversaries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.Anniversaries-item {
  margin: 10px;
  text-align: center;
}

.profile-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  position: relative; /* Position for the link */
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name, span {
  font-size: 12px;
  
}

