<div class="dashboard-container">
  <div class="quick-access">
    <h3>Quick Access</h3>
    <div class="card-row">
      <mat-card class="card-item">
        <mat-card-content>
          <span>Inbox</span>
          <div class="inbox-container">
            <div class="inbox">
              <img src="../../assets/email.jpg" alt="not found" />
            </div>
            <div>
              <p>Good job!</p>
              <p>You have no pending actions</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item" [ngStyle]="{'background-image': 'url(' + base64Image + ')'}">
        <div class="card-item-header">
          <span>Holidays</span>
         <div  (click)="openHoliday()">
          <a style="background-color:transparent; cursor: pointer;">view all</a>
         </div>
        </div>
        <mat-card-content>
          <div class="card-content">
            <div class="card-navigation">
              <div>
                <button mat-icon-button (click)="previousHoliday()">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
              <div>
                <button mat-icon-button (click)="nextHoliday()">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>
            <div class="card-info">
              <p class="card-info">{{ holiday.description }} &nbsp; &nbsp;{{ holiday.dateOfHoliday | date:'EEE, dd MMMM, yyyy' }}</p>
            </div>

          </div>
        </mat-card-content>
      </mat-card>


      <mat-card class="card-item">
        <mat-card-content>On Leave Today</mat-card-content>
      </mat-card>
      <mat-card class="card-item">
        <mat-card-content>
          Working Remotely
          <div class="members">
            <div *ngFor="let emp of workFromHomeList">
              <div class="member">
                <img src="../../assets/profileimage.png">
                <small>{{emp.employeeName}}</small>

              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item1">
        <mat-card-content>
          <span>Time Today - <span>{{currentDate | date}} </span></span>
          <app-clock></app-clock>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-item2">
        <mat-card-content>
          <span>Leave Balances</span>
          <div class="charts">
            <div class="donut-container">
              <div class="donut-text">{{totalAvailableLeave}} Days Available</div>
              <app-donutchart [chartOptions]="chartOptions1">
              </app-donutchart>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="org-div">
    <div class="org-buttons">
      <button (click)="selectTab('organization')">Organization</button>
      <button (click)="selectTab('java')">Java</button>
    </div>
    <div class="org-cards">
      <mat-card class="org-card" *ngIf="selectedTab === 'organization'">
        <mat-card-content>
          <ul class="nav-list">
            <li>
              <a href="#" (click)="showContent($event, 'post')" [class.active]="selectedContent === 'post'">Post</a>
              
            </li>
            <li>
              <a href="#" (click)="showContent($event, 'announcement')"
                [class.active]="selectedContent === 'announcement'">Announcement</a>
            </li>
            <li>
              <a href="#" (click)="showContent($event, 'poll')" [class.active]="selectedContent === 'poll'">Poll</a>
            </li>
            <li>
              <a href="#" (click)="showContent($event, 'praise')"
                [class.active]="selectedContent === 'praise'">Praise</a>
            </li>
          </ul>
          <div class="org-content">
            <div id="post" 
            [class.active]="selectedContent === 'post'" 
            class="org-content-item"
            (focus)="expandCard()"
            (focusout)="collapseCard()"

            tabindex="0"
            [ngClass]="{'expanded': isCardExpanded}">
           
                   
                   <div >
    
    <button title="Mention Employee" (click)="insertSymbol('@')"
    style="background-color:rgb(51, 61, 78); ;border-radius:10px;font-size:12px;height:32px;"><i class="fas fa-at"></i></button>
                    <button style="background-color:rgb(51, 61, 78);border-radius:10px;font-size:12px;height:30px"><i class="fas fa-camera"></i></button>
                    <button style="background-color:rgb(51, 61, 78);border-radius:10px;font-size:12px;height:30px"><i class="fas fa-smile"></i></button>
                   </div>
                   <input type="text" placeholder="write your post here and mention your peers....."
                      style="background-color:rgb(51, 61, 78);height:80px">
                   {{insertedSymbol}}
            </div>
            <div id="announcement" [class.active]="selectedContent === 'announcement'" class="org-content-item">Hello
            </div>
            <div id="poll" [class.active]="selectedContent === 'poll'" class="org-content-item">Poll related content
            </div>
            <div id="praise" [class.active]="selectedContent === 'praise'" class="org-content-item">Praise related
              content</div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="org-card-short" *ngIf="selectedTab === 'organization'">
        <mat-card-content>
          <ul class="nav-list">
            <li>
              <a href="#" (click)="showContent($event, 'announcement')"
                [class.active]="selectedContent === 'announcement'">Announcements</a>
            </li>
            <li>
              <i class="fa-solid fa-cake-candles"></i>
              <a href="#" (click)="showContent($event, 'birthday')"
                [class.active]="selectedContent === 'birthday'">Birthday</a>
            </li>
            <li>
              <i class="fa-solid fa-ribbon"></i>
              <a href="#" (click)="showContent($event, 'workAnniversary')"
                [class.active]="selectedContent === 'workAnniversary'">Work Anniversaries</a>
            </li>
            <li>
              <i class="fa-solid fa-user-group"></i>
              <a href="#" (click)="showContent($event, 'newJoinees')"
                [class.active]="selectedContent === 'newJoinees'">New Joinees</a>
            </li>
          </ul>
          <div class="content">
            <div id="announcement" [class.active]="selectedContent === 'announcement'" class="content-item">Announcement
              related data</div>
            <div id="birthday" [class.active]="selectedContent === 'birthday'" class="content-item">Birthday related
              data</div>
            <div id="workAnniversary" [class.active]="selectedContent === 'workAnniversary'" class="content-item">Work
              Anniversaries related data</div>
            <div id="newJoinees" [class.active]="selectedContent === 'newJoinees'" class="content-item">New Joinees
              related data</div>
          </div>
        </mat-card-content>
      </mat-card>
      <div *ngIf="selectedTab === 'organization'">
        <mat-card class="org-card" *ngFor="let image of imageSrcList; let i = index" style="margin-top:10px;">
          <mat-card-content>
            <div style="display:flex;">
              <img src="../../assets/profileimage.png" style="height: 55px; width: 60px; border-radius: 30px; margin-top: 10px; margin-bottom: 10px;">
              <p style="margin-top:35px;margin-left:10px">{{ image.timeStamp }}</p>
            </div>
            <p>{{image.description}}</p>
            <p style="color:dodgerblue">{{image.mentionEmployee}}</p>
            <img [src]="image.base64Image" alt="Image from base64" style="margin-bottom:20px">
            <div style="display: flex; gap: 30px;">
              <div class="hover-icons">
                <i class="fa-regular fa-thumbs-up" (click)="onEmojiClick(image.postId, 1)"></i>Like
                <div class="like-icons">
                  <p title="Like"><i class="fa-solid fa-thumbs-up" (click)="onEmojiClick(image.postId, 1)"></i></p>
                  <p title="Haha"><i class="fa-solid fa-face-laugh-beam" (click)="onEmojiClick(image.postId, 2)"></i></p>
                  <p title="Love"><i class="fa-solid fa-heart" (click)="onEmojiClick(image.postId, 3)"></i></p>
                  <p title="Claps"><i class="fa-solid fa-hands-clapping" (click)="onEmojiClick(image.postId, 4)"></i></p>
                  <p title="Insightful"><i class="fa-solid fa-lightbulb" (click)="onEmojiClick(image.postId, 5)"></i></p>
                  <p title="Curious"><i class="fa-brands fa-cloudversify" (click)="onEmojiClick(image.postId, 6)"></i></p>
                </div>
              </div>
              <p (click)="toggleCommentBox(i)"><i class="fa-regular fa-message"></i>Comment</p>
            </div>
            <div *ngIf="showCommentBox[i]">
              <form #commentForm="ngForm" (ngSubmit)="postComment1(i, commentForm.value.comment, $event)">
                <textarea rows="3" cols="50" placeholder="Write a comment..." name="comment" ngModel
                          (keydown.enter)="postComment1(i, commentForm.value.comment, $event)">
                </textarea>
                <button type="submit" style="display:none;"></button> <!-- Hide submit button -->
              </form>
            </div>
                </mat-card-content>
        </mat-card>
      </div>
      
      
      
      <mat-card class="org-card" *ngIf="selectedTab === 'java'">
        <mat-card-content>Java related post</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>