
html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    /* overflow: hidden; */
    /* color: #A2A9B4; */
}

body { margin: 0; 
    background-color: #151517;
    
}
* {
    color: #A2A9B4;
}