<div class="about-container">
    <mat-card>
        <mat-card-content>
            <ul>
                <li routerLinkActive="active">
                    <a  routerLink="/layout/myprofile/about/summary">Summary</a>
                </li>
                <li routerLinkActive="active">
                    <a   routerLink="/layout/myprofile/about/timeline">Timeline</a>
                </li>
                <li routerLinkActive="active">
                    <a  routerLink="/layout/myprofile/about/wall-activity">Wall Activity</a>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>
