<div class="container">
    <div class="image">
      <img src="https://eidikosystems.keka.com/files/b5a6ae4c-7aa9-49ea-897f-72bcbd443efa/loginbackgroundimage/b6428543287b4b6496691f047a6ec92b.jpg" alt="Image">
    </div>
    <div class="content">
      <h2>Forgot Password</h2>
      <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
        <input type="email" id="email" name="email" placeholder="Email" required [(ngModel)]="email" #emailInput="ngModel">
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
          <p class="size" *ngIf="emailInput.errors?.['required']">Email is required.</p>
          <div *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</div>
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Reset</button>
      </form>
    </div>
  </div>
  