<div class="summary-container" >
    <div>
        <mat-card>
            <mat-card-content>
                <div>
                    <h3>About</h3>
                    <button>Add your response</button>
                </div>
                <div>
                    <h3>What I love about my job?</h3>
                    <button>Add your response</button>
                </div>
                <div>
                    <h3>My interests and hobbies</h3>
                    <button>Add your response</button>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <div>
        <mat-card>
            <mat-card-content>
                <h3>Primary Details</h3>
                <div class="primary-details">
                    <div>
                        <span>FIRST NAME</span>
                        <p>Shreya</p>
                        <span>GENDER</span>
                        <p>Female</p>
                        <span>MARITAL STATUS</span>
                        <p>single</p>
                        <span>PHYSICALLY HANDICAPPED</span>
                        <p>No</p>
                    </div>
                    <div>
                        <span>LAST NAME</span>
                        <p>Suddala</p>
                        <span>DATE OF BIRTH</span>
                        <p>27 Dec, 2002</p>
                        <span>BLOOD GROUP</span>
                        <p>O+ (O positive)</p>
                    </div>
                </div>
                <h3>Contact Details</h3>
                <div class="contact-details">
                    <div>
                        <span>PERSONAL EMAIL</span>
                        <p>shreyasuddala27gmail.com</p>
                    </div>
                </div>
                <h3>Relations</h3>
                <div class="relation-details">
                    <div>
                        <span>FATHER</span>
                        <p>xxxxxxxxxxxxx</p>
                        
                    </div>
                    <div>
                        <span>MOTHER</span>
                        <p>xxxxx</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
