.home-container {

  background-color: #333d4e; 
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  margin-top: 50px;
  
  
}

.nav-list {
  list-style-type: none; 
  padding: 0; 
  margin: 12px;
  display: flex; 
  gap: 15px;
}

.nav-list li {
  margin-right: 10px; 
}

.nav-list li:last-child {
  margin-right: 0; 
}

.nav-list li a{
  font-size: small;
  text-decoration: none;
}

.nav-list li a:hover{
 color: white;
 cursor: pointer;
}
.active{
  border-bottom: 2px solid #7a85de;

}

 