<nav class="navbar">
    <div class="navbar-brand">
      <span>EIDIKO SYSTEM INTEGRATORS</span>
      <span class="navbar-search">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search for employees ...">
      </span>
    </div>
    <div class="navbar-profile">
      <div class="dropdown">
        <span class="dropdown-toggle">Nalla Harshini</span>
        <div class="dropdown-menu">
          <a href="#">
            <mat-icon>search</mat-icon>Profile
          </a>
          <a href="#">
            <mat-icon>key</mat-icon>Change Password
          </a>
          <a href="/login">
            <mat-icon>logout</mat-icon>Logout
          </a>
        </div>
        <span>
          <img src="../../assets/profileimg2.jpg" alt="Profile Picture">
        </span>
      </div>
    </div>
  </nav>
<!--   
  <footer class="footer">
    <p>&copy; Eidiko System Integrators. All rights reserved.</p>
  </footer> -->
  